
.odd {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#first-even {
    color: blue;
    font-size: 36px;
} 

.big-font {
    font-size: 24px;
}

#second-even {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}


